<% content_for :title, 'Help' %>
<div class="container">
  <h1>Help</h1>

  <h3>How it Works</h3>
  <p>
    TaskCal is a calendaring and task management system that combines the best of both worlds. To create
    a new task or event, click <strong>New Item</strong> on the Calendar page and choose an Event or Task
    (described below). A new event will automatically populate on your calendar. A new task will be added to
    your </strong>To Do</strong> list. To add a task to your calendar, drag the task onto your calendar and
    it will automatically be scheduled
  </p>

  <h3>What is an Event?</h3>

  <h3>What is a Task?</h3>

  <h3>How does Task Scheduling Work?</h3>

</div>

