<!-- Main jumbotron for a primary marketing message or call to action -->
<% content_for :title, 'Welcome' %>
<div class="jumbotron">
  <div class="container">
    <h1>Productivity made easy.</h1>
    <p>
      Manage your tasks the smart way. Let TaskCal help you decide when to do your tasks to
      maximize your productivity. Spend less time planning and more time doing. Sign up today for a free account!
    </p>
    <p><%= link_to 'Sign Up &raquo;'.html_safe, signup_path, class: 'btn btn-primary btn-lg', role: 'button' %></p>
  </div>
</div>

<div class="container welcome-blurb">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Calendar</h2>
      <%= image_tag "cal.png" %>
      <p>
        Keep track of all your events and meetings on our fully-interactive calendar which includes updating, deleting,
        and creating new events using our easy-to-use calendaring system.
      </p>
      <!--<p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>Tasks</h2>
      <%= image_tag "tasks.png" %>
      <p>
        Add a task to your To Do list and when you're ready to do it, just drag it onto the calendar and our
        sophisticated scheduling system will determine the best day and time for you to complete the task given your
        preferences profile and task properties. Is your task of high priority or difficulty? We take everything into
        account and do the work for you, so all you have to worry about is completing your task!
      </p>
      <!--<p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
      <h2>Productivity</h2>
      <%= image_tag "productivity.png" %>
      <p>
        We are all more productive at differing times of the day. Early-risers love to get things done early and
        night owls do their best work at night. In-betweeners can function best at any time that they're awake.
        What's your productivity profile? Sign up today and find out!
      </p>
      <!--<p><a class="btn btn-default" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>
</div> <!-- /container -->