<script type="text/template" id="edit_item_dialog_template">
  <div class="modal fade" id="editItemDialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Item Title</h4>
        </div>
        <div>
          <p>Item Type</p>
          <p>Item Description</p>
          <p>Buttons</p>
      </div>
    </div>
  </div>
</script>