<div class="modal fade" id="newTaskDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <!-- form -->
          <div class="form-group">
            <label class="control-label col-xs-2" for="title">Title:</label>
            <div class="col-xs-10">
              <input class="form-control" id="title" type="text" name="title" placeholder="Task name" />
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label col-xs-2" for="due-date">Due date:</label>
            <div class="col-xs-4">
              <input class="form-control select-date" id="due-date" type="text" name="due-date" />
              <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

            <label class="control-label col-xs-2" for="due-time">Due time:</label>
            <div class="col-xs-4">
              <input class="form-control" id="due-time" type="time" name="due-time">
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label col-xs-2" for="duration">Duration:</label>
            <div class="col-xs-4">
              <input class="form-control" id="duration" type="text" name="duration" />
              <span class="form-control-feedback">min</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">Priority:</label>
            <div class="col-xs-10">
              <label class="radio-inline">
                <input type="radio" name="priority" value="low"> Low
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" value="medium"> Medium
              </label>
              <label class="radio-inline">
                <input type="radio" name="priority" value="high"> High
              </label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-xs-2 control-label">Difficulty:</label>
            <div class="col-xs-10">
              <label class="radio-inline">
                <input type="radio" name="difficulty" value="low"> Low
              </label>
              <label class="radio-inline">
                <input type="radio" name="difficulty" value="medium"> Medium
              </label>
              <label class="radio-inline">
                <input type="radio" name="difficulty" value="high"> High
              </label>
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="col-xs-2 control-label" for="tag-name">Tag:</label>
            <div class="col-xs-10">
              <input class="form-control" id="tag-name" type="text" name="tag-name" />
              <span class="form-control-feedback colorpicker">
                <input type="text" class="basic" id="tag-color" value="orange" name="tag-color" />
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2" for="task-details">Details:</label>
            <div class="col-xs-10">
              <textarea class="form-control" id="task-details" rows="3" style="resize: vertical;" name="task-details"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <!-- buttons -->
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>