<div class="modal fade" id="newTaskDialog" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal">
        <div class="modal-header">
          <h4 class="modal-title">New Task</h4>
        </div>
        <div class="modal-body">
          <!-- form -->
          <div class="form-group">
            <label class="control-label col-xs-2" for="">Title:</label>
            <div class="col-xs-10">
              <input class="form-control" type="text" name="title" placeholder="Task name" />
            </div>
          </div>

          <div class="form-group has-feedback">
            <label class="control-label col-xs-2" for="">Due date:</label>
            <div class="col-xs-4">
              <input class="form-control select-date" type="text" name="due" />
              <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
            </div>

            <label class="control-label col-xs-2" for="">Duration:</label>
            <div class="col-xs-4">
              <input class="form-control" type="text" name="due" />
              <span class="form-control-feedback">min</span>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-default">Tag Color</button>
          </div>

        </div>
        <div class="modal-footer">
          <!-- buttons -->
          <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>