<script type="text/template" id="task_template">
  <div class="task-tag-color" style="background-color: {{= model.get("item.tag_color") }};"></div>
  <div class="task-name">
    {{= model.trimmedTitle() }}
  </div>
  <div class="task-due-date" style="background-color: {{= model.dueDateColor() }};">
    {{= model.formattedDueDate() }}
  </div>
</script>