<div class="container-fluid">
  <div class="row">

    <div class="left-sidebar col-xs-2">
      <div id="mini-calendar">
        <!-- mini calendar -->
      </div>
      <div id="new-event-button">
        <button class="btn btn-primary btn-block" type="button" id="newEventButton">New Event</button>
      </div>

    </div>

    <div class="calendar col-xs-7">
      <div id="calendar">
        <!-- calendar -->
      </div>
    </div>

    <div class="tasks col-xs-3">
      <button class="btn btn-success btn-block" type="button" id="new-task-button">New Task</button>

      <ul class="tasks-tabs nav nav-tabs nav-justified">
        <li class="active"><a class="bg-success" href="#">To Do</a></li>
        <li><a href="#">Doing</a></li>
        <li><a href="#">Done</a></li>
      </ul>

      <div class="tasks-view tab-content">

        <div class="tasks-search">
          <form>
            <div class="input-group">
              <span class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
              <input type="text" class="form-control" />
            </div>
            <a class="adv-search small pull-right" href="#">Advanced</a>
          </form>
        </div>

        <div class="tasks-list">
          <!-- dynamically added tasks go here -->
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "new_task_dialog" %>
<%= render partial: "new_event_dialog" %>