<div class="container-fluid">
  <div class="row">

    <div class="left-sidebar col-xs-2">
      <div id="mini-calendar">
        <!-- mini calendar -->
      </div>
    </div>

    <div class="calendar col-xs-8">
      <div id="calendar">
        <!-- calendar -->
      </div>
    </div>

    <div class="tasks col-xs-2">
      <button class="btn btn-success btn-block" type="button" id="new-item-button">New Item</button>

      <ul class="tasks-tabs nav nav-tabs nav-justified">
        <li class="active"><a class="bg-success" href="#">To Do</a></li>
        <li><a href="#">Doing</a></li>
        <li><a href="#">Done</a></li>
      </ul>

      <div class="tasks-view tab-content">

        <div class="tasks-search">
          <form>
            <div class="input-group">
              <span class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
              <input type="text" class="form-control" />
            </div>
            <a class="adv-search small pull-right" href="#">Advanced</a>
          </form>
        </div>

        <div class="tasks-list">
          <!-- dynamically added tasks go here -->
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "new_item_dialog" %>
<script>
  var TASKS = <%= render(partial: "task_list.json").html_safe %>;
  var EVENTS = <%= render(partial: "event_list.json").html_safe %>;
</script>