<hr>
<footer class="footer">
  <small class="footer-signature">
    &copy; RTP 2014 by Noranda Brown, Alex Pomata, Luka Milekic, and Md Akhand
  </small>
  <nav>
    <ul class="nav nav-pills">
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>